<div id="page-wrapper" style="min-height: 650px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <div class="panel-body">
          <div style="display: none;" id="comunication-success" class="alert alert-success alert-dismissable">
            <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
              &times;
            </button>
            Se agregaron los carros
          </div>
          <div class="table-responsive">
            <%= form_tag url_for( controller: "buses", action: "bus_assignment"),remote: true, id: "multiple-buses-form" do %>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Placa</th>
                    <th>Asignar Autobus</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% if !@buses.blank? %>
                      <% @buses.each do |bus|  %>
                          <tr>
                            <td>
                              <%= bus.plate_license %>
                            </td>
                            <td>
                              <%= hidden_field_tag "buses[]", bus.id  %>
                              <%= check_box_tag("buses_assignment", value = ( bus.user_id ? bus.id : "") , checked = bus.user_id ? true : false, class: "subscription", id:  bus.id) %>
                            </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
                <%= hidden_field_tag 'user_id', @user.id %>
                <%= submit_tag "Guardar", class:"btn btn-success pull-right",id: "multiple-buses-assignment" %>
            <% end %>
          </div>
        </div>

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<script type="text/javascript" link="multiBuses.js"></script>
