<div id="page-wrapper" style="min-height: 650px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <div class="panel-body">
          <div class="table-responsive">
            <%= form_tag  bus_assignment_users_path, method: :patch do %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Placa</th>
                  <th>Asignar Autobus</th>
                </tr>
              </thead>
              <tbody>
              <% if !@buses.blank? %>
                <% @buses.each do |bus|  %>
                <tr>
                  <td>
                    <%= bus.plate_license %>
                  </td>
                  <td>
                    <%= hidden_field_tag "buses_assignment[]",bus.user_id %>
                    <%= check_box_tag("Si", value = nil , checked = bus.user_id ? true : false, class: "subscription") %>
                  </td>
                </tr>
                <% end %>
                <% end %>
              </tbody>
            </table>
            <%= hidden_field_tag 'user_id', @user.id %>
            <%= submit_tag "Guardar", class:"btn btn-success pull-right" %>
            <% end %>
          </div>
        </div>

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>