<div id="page-wrapper" class="tables" style="min-height: 650px;">
  <div class="container-fluid dashboard">
    <div class="row">
      <div class="col-lg-12"
      <!-- /.col-lg-12 -->
    </div>
    <% if  current_user.admin? %>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">  
          <div class="panel-heading">
            <h3 class="panel-title">Archivos de Excel programcación mensual</h3>
          </div>
          <div class="panel-body">
            <%= form_tag import_buses_path  , multipart: true do %>
            <div id="file-upload" class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-info btn-file">
                  Buscar:  <%= file_field_tag :file %>
                </span>
              </span>
              <input type="text" class="form-control" readonly="">
            </div>

            <div class="input-group import">
              <%= submit_tag "Importar", class: "btn btn-primary col-xs-3" %>
            <%=  flash_import(flash) %>
            </div><!-- /btn-group --> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Programación diaria de mes de <%= (l Time.now, format: :short).capitalize  %>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="dataTable_wrapper">
              <table class="table table-striped table-bordered table-hover" id="bus-route-table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Placa</th>
                    <%= days_in_the_month %> 
               </tr>
             </thead>

             <tbody>
                <% @buses.map do |bus| %>
                  <tr>
                    <td><%= bus.id %></td>
                    <td><%= bus.plate_license %></td>
                    <%= assigned_routes_to(bus) %>
                </tr>
              <% end %>          

             </tbody>
           </table>
         </div>
         <!-- /.table-responsive -->
         <div class="well">
          <h4>Programación diaria para el mes de <%= (l Time.now, format: :short).capitalize %></h4>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->
</div>