<div id="page-wrapper" style="min-height: 650px;">
  <div class="container-fluid autobuses">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header"> <%= link_to "Autobuses", autobuses_path %>
          <% if current_user.admin? %>
          <%= link_to new_bus_path, remote: true, class: "btn-lg btn-default" do %>
          <i class="fa fa-bus fa-fw"></i> Crear
          <% end  %>
          <% end  %>
        </h1>
        <%= flash_import(flash) %>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row search">
      <div class="col-lg-12">

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div id="content" class="col-lg-12">
        <% if !@buses.empty? %>
          <% @buses.each do |bus| %>
            <ul class="list-group">
              <li class="list-group-item" id="bus_id_<%= bus.id %>">
                Bus de placa <strong><%= bus.plate_license %></strong>
                <span class="badge">
                  <%= link_to bus_path(bus), method: :delete, data: { confirm: 'Esta seguro de eliminar?' }, class: "btn btn-default btn-xs" do %>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true">eliminar</span>
                  <% end %>
                </span>
                <span class="badge">
                  <%= link_to edit_bus_path(bus), remote: true , class: "btn btn-default btn-xs" do %>
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">editar</span>
                  <% end %>
                </span>
              </li>
            </ul>
          <% end %>
        <% end %>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>